# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9.2
      #- image: circleci/postgres:9.4

    working_directory: /go/src/nikogura/gomason
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -v -t -d ./...
      - run: go get github.com/kardianos/govendor
      - run: govendor sync
      - run:
          name: Run Tests
          command: go test -v ./...
          environment:
            PATH